<p-panel>
    <p-header>
        待辦事項
    </p-header>
    <h3>
        Dynamic Columns
        <div style="float:right;">
            <p-button label="Click" (onClick)="showTodo()"></p-button>
        </div>
    </h3>
    <!-- 假資料 -->
    <p-table [value]="items">
        <!--真資料  -->
        <!-- <p-table [value]="TodoList"> -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TodoItem>
            <tr>
                <td>{{TodoItem.top}}</td>
                <td>{{TodoItem.type}}</td>
                <td>{{TodoItem.description}}</td>
                <td>{{TodoItem.Date}}</td>
                <td>
                    <button type="text" (click)="showEdit(TodoItem)" pButton label="Edit"></button>
                    <button type="text" (click)="showNotification(TodoItem)" pButton label="Notify"></button>
                    <button type="text" (click)="delete(TodoItem)" pButton label="Delete"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<!-- 新增待辦事項 -->
<p-dialog header="新增待辦事項" [(visible)]="showTodoModal" modal="true" [dismissableMask]="true">
    <div class="ui-g">
        <div class="ui-g-4">
            置頂：
        </div>
        <div class="ui-g-8">
            <p-checkbox [(ngModel)]="newtodoitem.Top" binary="true"></p-checkbox>
        </div>

        <div class="ui-g-4">
            名稱：
        </div>
        <div class="ui-g-8">
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.Name" name="name">
        </div>
        <div class="ui-g-4">
            描述：
        </div>
        <div class="ui-g-8">
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.Description" name="name">
        </div>
        <div class="ui-g-4">
            相關網址：
        </div>
        <div class="ui-g-8">
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.RelatedUrl" name="name">
        </div>
        <div class="ui-g-12">
            <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)"
                auto="true" chooseLabel="Browse"></p-fileUpload>
        </div>
        <p-button label="儲存" icon="fa fa-floppy-o" (click)="addTodoItem()" iconPos="left" (click)="saveEditModal()"></p-button>
    </div>
    <!-- <button pButton type="submit"  label="Warning" class="ui-button-warning"></button> -->
</p-dialog>

<!-- 編輯事項 -->
<p-dialog header="編輯事項" [(visible)]="showEditModal" modal="true" [dismissableMask]="true" styleClass="edit-dialog">
    <h2>{{editTitle}}</h2>
    <div class="ui-g">
        <div class="ui-g-4">
            類型:
        </div>
        <div class="ui-g-8">
            <input type="text" pInputText [(ngModel)]="edittodoitem.Type" [value]="selectedTodoItem.type">
        </div>
        <div class="ui-g-4">
            描述:
        </div>
        <div class="ui-g-8">
            <textarea [rows]="5" pInputTextarea autoResize="autoResize" [(ngModel)]="edittodoitem.Description" [value]="selectedTodoItem.description"></textarea>
        </div>
        <div class="ui-g-4">
            相關網址:
        </div>
        <div class="ui-g-8">
            <input type="text" pInputText placeholder="testin">
        </div>
        <div>
            <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)"
                auto="true" chooseLabel="Browse"></p-fileUpload>
        </div>
    </div>
    <!-- (click)="update(selectedTodoItem)" -->
    <p-button label="儲存" icon="fa fa-floppy-o" iconPos="left" (click)="saveEditModal()"></p-button>
</p-dialog>

<!-- 設定提醒 -->
<p-dialog header="設定提醒" [(visible)]="showNotifyModal" modal="true" [dismissableMask]="true" styleClass="notify-dialog">
    <h2>{{notifyTitle}}</h2>
    <div class="ui-g">
        <div class="ui-g-4">
            提醒啟用:
        </div>
        <div class="ui-g-4">
            <p-radioButton name="notifygroup" value="on" [(ngModel)]="notifyGroupSelectedValue" label="開啟"></p-radioButton>
        </div>
        <div class="ui-g-4">
            <p-radioButton name="notifygroup" value="off" [(ngModel)]="notifyGroupSelectedValue" label="關閉"></p-radioButton>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-radioButton name="yearAnnounce" value="on" [(ngModel)]="selectedValue" label="一次性提醒"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
            <span>{{date3|date}}</span>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-radioButton name="yearAnnnounce" value="off" [(ngModel)]="selectedValue" label="循環提醒"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-checkbox name="recursive" value="val1" label="每年" [(ngModel)]="selectedValues"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Months" label="月" [(ngModel)]="selectedperYear.month"></p-dropdown>
            <p-dropdown [autoWidth]="false" [options]="Dates" label="日" [(ngModel)]="selectedperYear.date"></p-dropdown>
        </div>
        <div class="ui-g-12">
            <p-checkbox name="recursive" value="val2" label="每月" [(ngModel)]="selectedValues"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Months" [(ngModel)]="selectedperMonth"></p-dropdown>日
        </div>
        <div class="ui-g-12">
            <p-checkbox name="recursive" value="val3" [(ngModel)]="selectedValues" label="每逢 星期"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Weekdays" [(ngModel)]="selectedperWeekday"></p-dropdown>
        </div>
    </div>
    <div class="ui-g ">
        <div class="ui-g-12">
            <p-checkbox [(ngModel)]="setExpand" binary="true" label="信件通知"></p-checkbox>
        </div>
        <div *ngIf="setExpand">
            <app-mail-form></app-mail-form>
        </div>
    </div>
    <p-button label="儲存" icon="fa fa-floppy-o" iconPos="left" (click)="saveNotifyModal()"></p-button>
</p-dialog>