<p-panel>
    <p-header>
        待辦事項
    </p-header>
    <h3>
        Dynamic Columns
        <div style="float:right;">
            <p-button label="Click" (onClick)="showTodo()"></p-button>
        </div>
    </h3>
    <p-table [value]="TodoList">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TodoItem>
            <tr>
                <td>{{TodoItem.top}}</td>
                <td>{{TodoItem.type}}</td>
                <td>{{TodoItem.description}}</td>
                <td>{{TodoItem.Date}}</td>
                <td>
                    <button type="text" (click)="showEdit(TodoItem)" pButton label="Edit"></button>
                    <button type="text" (click)="showNotification(TodoItem)" pButton label="Notify"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<!-- 加新事項 -->
<p-dialog header="新增待辦事項" [(visible)]="showTodoModal" modal="true" [dismissableMask]="true">
    <p-header>
        新增待辦事項
    </p-header>

    <div>
        置頂:
        <p-checkbox [(ngModel)]="newtodoitem.Top" binary="true"></p-checkbox>
    </div>
    <div class="ui-inputgroup">
        <p>名稱:
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.Name" name="name">
        </p>
    </div>
    <div class="ui-inputgroup">
        <p>描述:
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.Description" name="name">
        </p>
    </div>
    <div class="ui-inputgroup">
        <p>相關網址:
            <input type="text" class="form-control" id="name" [(ngModel)]="newtodoitem.RelatedUrl" name="name">
        </p>
    </div>
    <div>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)"
            auto="true" chooseLabel="Browse"></p-fileUpload>
    </div>
    <button pButton type="submit" (click)="addTodoItem()" label="Warning" class="ui-button-warning"></button>

</p-dialog>

<!-- 編輯事項 -->
<p-dialog header="Title" [(visible)]="showEditModal" modal="true" [dismissableMask]="true">
    <p-header>
        編輯事項
    </p-header>
    <h2>2018-Q2 法規鑑別</h2>
    <div class="ui-inputgroup">
        <p>類型:
            <input type="text" pInputText [(ngModel)]="edittodoitem.Type" [value]= "selectedTodoItem.type">
        </p>
    </div>
    <div class="ui-inputgroup">
        <p>描述:
            <input type="text" pInputText [(ngModel)]="edittodoitem.Description" [value]="selectedTodoItem.description">
        </p>
    </div>
    <div class="ui-inputgroup">
        <p>相關網址:
            <input type="text" pInputText [placeholder]="testin">
        </p>
    </div>
    <div>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)"
            auto="true" chooseLabel="Browse"></p-fileUpload>
    </div>
    <button pButton type="button" (click)="update(selectedTodoItem)" label="Save" class="ui-button-warning"></button>

</p-dialog>

<!-- 設定提醒 -->
<p-dialog header="Title" [(visible)]="showNotifyModal" modal="true" [dismissableMask]="true">
    <p-header>
        設定提醒
    </p-header>
    <h2>{{selectedTodoItem.Name}}</h2>
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        提醒啟用:
        <div class="ui-g-12">
            <p-radioButton name="notifygroup" value= "true" [(ngModel)]="notifyGroupSelectedValue" label="開啟"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="notifygroup" value= "false" [(ngModel)]="notifyGroupSelectedValue" label="關閉"></p-radioButton>
        </div>
    </div>
    <div>
        <p-radioButton name="yearAnnounce" value="on" [(ngModel)]="selectedValue" label="一次性提醒"></p-radioButton>
        <br>
        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
        <span style="margin-left:35px">{{date3|date}}</span>
    </div>
    <div>
        <p-radioButton name="yearAnnnounce" value="off" [(ngModel)]="selectedValue" label="循環提醒"></p-radioButton>
        <br>
        <p>
            <p-checkbox name="recursive" value="val1" label="每年" [(ngModel)]="selectedValues"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Months" label="月" [(ngModel)]="selectedperYear.month"></p-dropdown>
            <p-dropdown [autoWidth]="false" [options]="Dates" label="日" [(ngModel)]="selectedperYear.date"></p-dropdown>
        </p>
        <p>
            <p-checkbox name="recursive" value="val2" label="每月" [(ngModel)]="selectedValues"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Months" [(ngModel)]="selectedperMonth"></p-dropdown>日</p>
        <p>
            <p-checkbox name="recursive" value="val3" [(ngModel)]="selectedValues" label="每逢 星期"></p-checkbox>
            <p-dropdown [autoWidth]="false" [options]="Weekdays" [(ngModel)]="selectedperWeekday"></p-dropdown>
        </p>
    </div>
    <div>
        <p>
            <p-checkbox [(ngModel)]="setExpand" binary="true" label="信件通知"></p-checkbox>
        </p>
        <div *ngIf="setExpand">
            <app-mail-form></app-mail-form>
        </div>
    </div>
    <button pButton type="button" (click)="saveNotify()" label="Warning" class="ui-button-warning"></button>

</p-dialog>